

body{
    overflow: hidden;
}

nav {
    background-color: #203749;
    border-bottom: 1px solid #203749;
    border-top: 1px solid #203749;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #203749;
}

li {
    float: left;
    color: whitesmoke;
    margin: 2vh;
    cursor: pointer;

}

a:link,
a:visited {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


h1 {
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
}


#drawChartDifficulty{
    width: 100%;
    position: relative;
    top: 30vh;
    left: 5%;
}

#drawChartCorrectness{
    width: 100%;
    position: relative;
    top: -25vh;
    left: 55%;
}

.dataDiv{
    border: 1px solid black;
    width: 10%;
    text-align: center;
    position: relative;
    top: -70vh;
    left: 45%;
}